@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SSE</h1>

    <div class="flex-center position-ref full-height">
        <h1>Simple SSE</h1>
        <fieldset>
            <legend>Your message(s)</legend>
            <div id="messages">
            </div>
            <div>
                <input id="txtMessage"><button id="btnMessage" onclick="sendMsg()">Send</button>
            </div>
        </fieldset>
    </div>
</div>
@section Scripts{
    <script>
        @{
            var request = Url.ActionContext.HttpContext.Request;
            var domain = $"{request.Scheme}://" + request.Host.ToString().Trim('/');
        }

        var token = '@(Guid.NewGuid())';
        var channelName = 'test'; //you channel to listener
        const swUrl = '/js/webpushnotification/notificationwebsharedworker.js?c=' + channelName
            + '&token=' + encodeURIComponent(token);

        var myWorker = new SharedWorker (swUrl);
        myWorker.port.onmessage = function (e) {
            console.log(e);
            //todo: do with your logic
            var msgs = jQuery("#messages").html();
            msgs = msgs + '<div>' + JSON.stringify(e.data) + '</div>';
            jQuery("#messages").html(msgs);
        }

        myWorker.port.start();

        //var myWorker = new Worker(swUrl);
        //myWorker.onmessage = function (e) {
        //    alert(JSON.stringify(e.data));
        //}

         jQuery.ajaxSetup({
            headers: {
                'content-type': 'application/json'
            }
         });

        function sendMsg() {
            var url = 'api/SSE/SendMessage';

            jQuery.ajax
                ({
                    type: "POST",
                    url: url,
                    contentType:"application/json",
                    dataType:"json",
                    async: false,
                    data: JSON.stringify({
                        c: channelName,
                        token: token,
                        msg: jQuery('#txtMessage').val()
                    }),
                    success: function () {

                    }
                });
        }
    </script>
}